.buttonLight{
    width: 7%;
    height: 70%;
    border-radius: 10px;
    border-width: 5px;
    flex-shrink: 0;
    flex-basis:content;
    border: 4px solid rgb(243, 242, 201);
    color:rgb(243, 242, 201);
    font-size: 80%;
    
    background-color:rgb(5, 80, 82);
}
.buttonLight:hover{
    transition-duration: 0.3s;
    background-color:rgb(83, 184, 187);
}
.buttonLight:active{
    transition-duration: 0s;
    color: rgb(5, 80, 82);
    border-color: rgb(5, 80, 82);
}

.buttonDark{
    flex-basis: content;

    border-radius: 10px;
    border-width: 5px;

    border: 5px solid rgb(5, 80, 82);
    color: rgb(0, 54, 56);
    
    
    background-color: rgb(83, 184, 187);
    font-size: 200%;
}
.buttonDark:hover{
    transition-duration: 0.3s;
    background-color:rgb(243, 242, 201);
}
.buttonDark:active{
    transition-duration: 0s;
    color: rgb(83, 184, 187);
    border-color: rgb(83, 184, 187);
}