.navbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    flex: 0 0 50px;
    padding-left: 2%;
    padding-right: 1%;
    
    background: rgba(0, 54, 56, .98);
}
.navbarTitle{
    color: rgb(243, 242, 201);
    font-weight: bolder;
    flex: 0 0 content;
}
.navbarButtons{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 content;
}